
*{
    background-color: #222;
   
    padding: 50px;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    height: 500px;
    border-radius: 20%;
    flex-direction: row;
   
}
.Roshan{
    height: 700px;
    align-items: center;
}

 
@media (max-width: 930px)
{
*{
    flex-direction: column;
     min-width: 200px;
    height: 300px; align-items: center;
    justify-content: center;
    
}
.Roshan{
    height: 500px;
    align-items: center;
}
}